@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

/*COLOURS:
blue: #0e79b2
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.618;
    background-color: white;
}

header {
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    text-align: left;
    margin: 0;
}

.masthead h1 {
    margin: 0;
    padding-left: 1rem;
    text-align: left;
    font-size: 180%;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.logo-mobile {
    display: block;
}

.logo-desktop {
    display: none;
}

a {
    color: #151BE8;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/*-- .content-box styles entire content --*/

.content-box {
    margin: 0 0.5rem;
    text-align: center;
}

.wrapper {
    margin: 1rem;
}

.logo {
    width: 6rem;
    height: auto;
    float: left;
    margin-bottom: 1rem;
    padding: 0;
}

.nav-bg .content-box {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

.content-box img {
    padding: 0 1rem;
}

.content-box img:nth-child(2) {
    margin: 1rem 0;
}


/*-- NAVIGATION --*/

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.navbar li {
    display: inline;
    border: 1rem black;
}

.navbar li a {
    display: block;
    background-color: #0e79b2;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0 1px 0;
}

.navbar li a:hover {
    background-color: white;
    color: #0e79b2;
    border: 2px solid #0e79b2;
    padding: calc(0.5rem - 2px) 1rem;
}

.navbar li:last-child a {
    margin: 0;
}

.clearfix ul::after {
    content: "";
    display: inline;
    clear: left;
}

.clearfix ul li {
    width: calc(100% - 2rem);
    float: left;
}

.hero {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
}

/* Footer */

footer {
    background-color: #0e79b2;
    padding: 15px;
    color: white;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

footer div {
    margin-bottom: 20px;
}

.footer-nav li {
    padding: 7px 0;
    font-weight: 800;
}

.footer-nav li a {
  position: relative;
}

.footer-nav li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  visibility: hidden;
  -o-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -o-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -o-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.footer-contact li:nth-child(2), .footer-contact li:nth-child(4) {
    margin-bottom: 8px;
}


#copyright {
    clear: both;
    text-align: center;
    padding-top: 10px;
}


@media screen and (min-width: 25rem) {
    footer div {
        float: left;
        margin-bottom: 0px;
    }

    .footer-nav {
        width: 40%;
        padding-left: 20px;
    }

    .footer-contact {
        width: 60%;
    }
}

@media screen and (min-width: 50rem) {
    ul.navbar {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-left: 0rem;
    }
    ul.navbar li {
        display: inline;
    }
    ul.navbar li a {
        width: calc(20% - 2px + 0.20px);
        text-align: center;
        float: left;
        margin: 0 2px 0 0;
        padding: 1rem;
    }
    ul.navbar li a:hover {
        padding: calc(1rem - 2px) 1rem;
    }
    ul.navbar li:last-child a {
        margin: 0;
    }
    .logo {
        width: 10rem;
        height: auto;
        float: left;
        margin: 0;
        padding: 0;
    }
    .masthead h1 {
        margin: 0;
        padding-left: 1rem;
        text-align: left;
        font-size: 300%;
    }
    header {
        margin-bottom: 4rem;
    }
    .logo-mobile {
        display: none;
    }
    .logo-desktop {
        display: block;
    }
    .main {
        margin: 2rem;
    }
    
    .gallery img {
        padding: 0 1rem;
        float: left;
        width: calc(99.9%/3);
    }

    .gallery img:nth-child(2) {
        margin: 0;
    }

    .footer-nav {
        width: 30%;
    }

    .footer-contact {
        width: 70%;
    }
}

@media screen and (min-width: 80rem) {
    ul.navbar {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-left: 0rem;
    }
    ul.navbar li {
        display: inline;
    }
    ul.navbar li a {
        width: calc(20% - 5px + 1px);
        text-align: center;
        float: left;
        margin: 0 5px 0 0;
        padding: 1rem;
    }
    ul.navbar li a:hover {
        padding: calc(1rem - 2px) 1rem;
    }
    ul.navbar li:last-child a {
        margin: 0;
    }
		.logo {
        width: 14rem;
        height: auto;
        float: left;
        margin: 0;
        padding: 0;
    }
    .masthead h1 {
        margin: 0;
        padding-left: 1rem;
        text-align: left;
        font-size: 300%;
    }
    header {
        margin-bottom: 6rem;
    }
    .logo-mobile {
        display: none;
    }
    .logo-desktop {
        display: block;
    }
    .content-box {
        align-items: left;
    }
    body {
        font-size: 1.4rem;
        align-items: left;
    }
    h1 {
        text-align: left;
    }
    .main {
        margin: 5rem;
    }
    header ul::after {
        content: "";
        display: block;
        clear: left;
    }
    header ul li {
        width: calc(33.33% - 0.66rem);
        float: left;
    }
    header ul li:nth-child(3n) {
        margin: 0 0 1rem 0;
    }
}
