* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

/*main section*/


.main h2
{
	text-align: center;
	font-family: 'Merriweather', serif;
}

/*end of main section*/

header {
	margin: 5%;
}
