@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

* {
	box-sizing: border-box;
}

/*header section*/

header {
	margin: 1rem;
	font-family: "Merriweather", Helvetica, sans-serif;
	height: auto;
}

.logo {
	width: 20%;
	height: 70%;
	float: left;
	margin-right: 1rem;
}

.logo-mobile {
	display: block;
	width: 100%;
	height: auto;
}

.logo-desktop {
	display: none;
}

.title h1 {
	font-size: 1.4rem;
	margin-bottom: 10px;
	margin-top: 10px;
}

.tagline {
	font-size: 0.8rem;
	line-height: 1.1rem;
}


.header-social-media .fa-youtube-play:hover {
	color: red;
}

.nav {
	text-align: center;
	font-family: "Roboto";
	margin-bottom: 1rem;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: block;
		border: 0.1rem solid black;
		background-color: #0e79b2;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin: 0 0 1px 0;
}

.navbar li a:hover {
    background-color: white;
		color: #0e79b2;
}

.navbar li:last-child a {
    margin: 0;
}
.active {
	text-decoration: none;
	padding-top: 22px;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #0e79b2;
	text-decoration: underline;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#copyright {
	font-family: "Roboto", Helvetica, sans-serif;
}
/*end of header section*/

/*main section*/

.main {
	margin-top: 20px;
	width: 90%;
	margin-left: 5%;
}

.main h2 {
	text-align: center;
	font-family: 'Merriweather', serif;
}

.subheading {
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 20px;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.wcnotes {
	margin-top: 30px;
	line-height: 1.4rem;
}

.wcnotes p {
	margin-bottom: 10px;
}

.intro {
	width: 90%;
	margin-left: 5%;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
}

.main img {
	width: 80%;
	margin-left: 10%;
	height: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

	#copyright {
		text-align: center;
		width: 100%;
		clear: both;
		padding-top: 20px;
		color: white;
		font-size: 0.8rem;
	}
}


@media only screen and (min-width: 30em) {

		/*    header */

		.logo-mobile {
			display: none;
		}

		.logo-desktop {
			display: block;
			width: 100%;
			height: 100%;

		}

		.title h1 {
			font-size: 1.6rem;
		}

		.tagline {
			font-size: 0.9rem;
			line-height: 1.2rem;
		}

		.header-social-media {
			padding-left: 0;
			padding-top: 30px;
			font-size: 25px;
		}

		nav ul li {
			font-size: 0.7rem;
		}

		/*end of header */

		.main img	{
				width: 29%;
				margin-left: 3%;
				height: 300px;
				margin-top: 30px;
			}

		.subheading	{
				font-size: 1.3rem;
				line-height: 1.9rem;
			}

		.intro {
				font-size: 1.1rem;
				line-height: 1.9rem;
			}

		/*end of main section*/

		/*footer section*/
		footer {
			width: 100%;
			height: 260px;
			background-color: #0e79b2;
			color: white;
		}

		.footernav {
			width: 25%;
			margin-left: 2%;
			float: left;
			height: 85%;
		}

		.footernav ul {
			list-style-type: none;
			font-family: 'Merriweather', serif;
			font-size: 0.8rem;
		}

		.footernav ul li {
			line-height: 2.8rem;
		}

		.footernav ul li a {
			text-decoration: none;
			color: white;
		}

		.contact-info	{
			width: 50%;
			margin-left: 5%;
			height: 80%;
			float: left;
		}

		h5 {
			font-family: 'Merriweather', serif;
			font-size: 0.8rem;
			margin-bottom: 5px;
			line-height: 1.5rem;
			margin-top: 10px;
		}

		h5 a {
			text-decoration: none;
			color: white;
		}

		h5 a:hover {
			text-shadow: 1px 1px 1px black;
		}

		.contact-info p	{
			font-size: 0.9rem;
			margin-bottom: 10px;
		}

		.social-media {
			width: 15%;
			height: 85%;
			margin-left: 2%;
			float: right;
		}

		.social-media a	{
			text-decoration: none;
			color: white;
			padding-left: 10%;
		}

		.social-media a:hover	{
			color: white;
			text-shadow: 1px 1px 1px black;
		}

		.social-media a i	{
			margin-top: 100px;
			font-size: 20px;
		}

		#copyright {
			text-align: center;
			width: 100%;
			clear: both;
			padding-top: 20px;
			color: white;
			font-size: 0.9rem;
		}
	}

@media only screen and (min-width: 35rem) and (max-width: 64.9rem) {
		/*    header */

		.logo-mobile {
			display: none;
		}

		.logo-desktop {
			display: block;
			width: 75%;
			height: 100%;
			margin-left: 10%;
		}

		.title h1 {
			font-size: 2.6rem;
		}

		.tagline {
			font-size: 1rem;
			line-height: 1.2rem;
		}

		.header-social-media {
			padding-left: 0;
			padding-top: 30px;
		}

		.header-social-media i {
			font-size: 30px;
		}

		.header-social-media i:first-child {
			margin-left: 0;
			margin-right:12%;
		}

		nav ul li {
			font-size: 1rem;
		}

		/*end of header */

		.footernav {
			width: 25%;
			margin-left: 3%;
		}

		.footernav ul {
			font-size: 1em;
		}

		.footernav ul li {
			line-height: 2.8rem;
		}

		.footernav ul li a {
			text-decoration: none;
			color: white;
		}

		.footernav ul li a:hover {
			text-shadow: 2px 2px 2px black;
		}

		.contact-info {
			width: 40%;
			height: 80%;
			margin-left: 3%;
			float: left;
		}

		h5 {
			font-family: 'Merriweather', serif;
			font-size: 1rem;
			line-height: 1.3rem;
			margin-bottom: 7px;
			margin-top: 10px;
		}

		.contact-info p {
			font-size: 1.1rem;
		}

		.social-media {
			width: 18%;
			height: 85%;
			margin-left: 0%;
			float: right;
		}

		.social-media a {
			text-decoration: none;
			color: white;
			padding: 0.5rem;
		}

		.social-media a i {
			margin-top: 100px;
			font-size: 40px;
		}

		#copyright {
			text-align: center;
			width: 100%;
			clear: both;
			padding-top: 10px;
			color: white;
		}
}


@media only screen and (min-width: 65rem) {
/*    header */
		.logo {
			width: 15%;
		}

		.logo-mobile {
			display: none;
		}

		.logo-desktop {
			display: block;
			width: 80%;
			height: 100%;
			margin-left: 10%;
		}

		.title h1 {
			font-size: 3.1rem;
		}

		.tagline {
			font-size: 1.4rem;
			line-height: 1.5rem;
		}

		.header-social-media {
			padding-left: 0;
			padding-top: 40px;
		}

		.header-social-media i {
			font-size: 40px;
		}

		.header-social-media i:first-child {
			margin-left: 0;
			margin-right:18%;
		}

		nav {
			width: 90%;
		}

		nav ul li {
			font-size: 1.6rem;
		}

		nav ul li a {
			padding-top: 18px;
		}

		/*end of header */

		.footernav {
			width: 28%;
			margin-left: 5%;
		}

		.footernav ul {
			font-size: 1.2rem;
		}

		.footernav ul li {
			line-height: 2.8rem;
		}

		.footernav ul li a {
			text-decoration: none;
			color: white;
		}

		.footernav ul li a:hover {
			text-shadow: 2px 2px 2px black;
		}

		.contact-info {
			width: 30%;
			height: 85%;
			margin-left: 5%;
			float: left;
		}

		h5 {
			font-family: 'Merriweather', serif;
			font-size: 1.2rem;
			line-height: 1.5rem;
			margin-bottom: 10px;
			margin-top: 10px;
		}

		.contact-info p {
			font-size: 1.2rem;
		}

		.social-media {
			width: 28%;
			height: 85%;
			margin-left: 2%;
			float: right;
		}

		.social-media a {
			text-decoration: none;
			color: white;
			padding: 2rem;
		}

		.social-media a i {
			margin-top: 100px;
			font-size: 50px;
		}

		#copyright {
			text-align: center;
			width: 100%;
			clear: both;
			padding-top: 10px;
			color: white;
		}
	}



/*end of footer*/
