* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

.main h2
{
	text-align: center;
	font-family: 'Merriweather', serif;
}
header {
	margin: 1.5rem;
	font-family: "Merriweather", Helvetica, sans-serif;
	height: auto;
}

.logo-mobile {
	display: block;
	width: 45%;
	height: auto;
	float: left;
	margin: 0;
}

.logo-desktop {
	display: none;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline
	float: left;
}

nav ul li a {
 	text-decoration: none;
}
